<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Hello Adonis</title>
    {{ style('style') }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map360</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>

    <style>
        #mapid {
            height: 100vh;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: sans-serif;
        }

        /* ---- grid ---- */

        .grid {
            background: #EEE;
        }

        /* clearfix */
        .grid:after {
            content: '';
            display: block;
            clear: both;
        }

        /* ---- grid-item ---- */

        .grid-sizer,
        .grid-item {
            width: 22%;
        }

        .gutter-sizer {
            width: 4%;
        }

        .grid-item {
            height: 120px;
            float: left;
            background: #D26;
            border: 2px solid #333;
            border-color: hsla(0, 0%, 0%, 0.5);
            border-radius: 5px;
        }

        .grid-item--width2 {
            width: 48%;
        }

        .grid-item--width3 {
            width: 48%;
        }

        .grid-item--height2 {
            height: 200px;
        }

        .grid-item--height3 {
            height: 260px;
        }

        .grid-item--height4 {
            height: 360px;
        }
    </style>
    <style>
        .panolens-container {
            position: relative;
            width: 35% !important;
            height: 100vh !important;
            background-color: rgb(0, 0, 0) !important;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <script src="./three.min.js"></script>
    <script src="./panolens.min.js"></script>

    <div class="row text-center">
        <div class="col-lg-6">
            <div id="mapid"></div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white text-center"
                style="width: 450px;">
                <a href="/"
                    class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">
                        <button type="button" onclick="showData();return false;" class="btn btn-secondary">Dados</button>
                        <button type="button" onclick="showPictures();return false;" class="btn btn-secondary">Fotos</button>
                        <button type="button" href='/360'  class="btn btn-secondary">360</button>
                    </span>
                </a>
                <script>
                 showData = (e) => {
                      var element = document.getElementById("data");
                      element.classList.remove("d-none");
                 }
                 showPictures = (e) => {
                      var element = document.getElementById("pictures");
                      element.classList.remove("d-none");
                      var element = document.getElementById("data");
                      element.classList.add("d-none");
                 }
                </script>
                <div id="data" class="list-group list-group-flush border-bottom scrollarea d-none">
                    <div class="card" style="width: 26rem;">
                        <img src="/Flamboyant_Portaria-300x167 (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Residencial Campo dos Ipês

                            </h5>
                            <p class="card-text">Av. Mascarenhas de Moraes - Quadra 4 - Lote 7W - Monte Castelo
                                Campo Grande ( MS)
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">60m², 61.50m² e 65m²</li>
                            <li class="list-group-item">3 quartos</li>
                            <li class="list-group-item">3 e 5 banheiros</li>
                            <li class="list-group-item">1, 2 ou 3 vagas de garagem</li>
                        </ul>
                    </div>
                </div>

                <div id="pictures" class="row d-none" data-masonry="{&quot;percentPosition&quot;: true }"
                    style="position: relative; height: 690px;">
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Sala-apto-penthouse-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Quarto-apto-tipo-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="card">
                            <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Expandir</button>
                </div>
                </div>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="row">

                                    <div class="card">
                                        <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                                    </div>

                                    <div class="card">
                                        <img class="mr-3" src="Fachada-2-300x225.jpg" alt="Generic placeholder image">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            var map = L.map('mapid').setView([-14.241, -53.09], 4);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            var LeafIcon = L.Icon.extend({
                options: {
                    shadowUrl: 'leaf-shadow.png',
                    iconSize: [38, 95],
                    shadowSize: [50, 64],
                    iconAnchor: [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor: [-3, -76]
                }
            });
            var greenIcon = new LeafIcon({ iconUrl: 'leaf-green.png' });
            var marker1 = L.marker([-14.241, -53.09]).addTo(map);
            var marker2 = L.marker([-12.241, -53.09]).addTo(map);
            var marker3 = L.marker([-11.241, -53.09]).addTo(map);
            marker1.bindPopup("<a href='/360'><b>Flamboyant Residence Prime!</b><br> <br> <img src='Flamboyant_Portaria-300x167.jpg' height='90px'></a>").openPopup();
        </script>
</body>

</html>