@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
select {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.container-panolens {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  position: relative !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
}
.btnh {
  width: 15px;
  height: 25px;
  margin-left: 5px;
}
.btn2,
.btn3,
.btn4,
.btn5 {
  width: 25px;
  height: 25px;
}
.zoomIn,
.rotLeft,
.leftSpeed,
.pause,
.play,
.rightSpeed,
.rotRight,
.zoomOut,
.up,
.moreInfo,
.closeMap,
.down {
  width: 40px;
  height: 40px;
}
.button-menu {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  z-index: 999;
}
.fundo {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100vh;
  z-index: 1;
  transform: translateX(-200px);
  transition: all .3s;
  pointer-events: none;
}
.fundo.open {
  transform: translateX(0);
  transition: all .3s;
}
.container-planta2d {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 300px;
  transform: scale(0.5) translateX(-500px);
  transform-origin: bottom left;
  pointer-events: none;
  transition: all .3s;
}
.container-planta2d.active {
  transition: all .3s;
  transform: scale(0.5) translateX(0);
}
.planta2d {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

#allPoints {
  /* margin-top: 10rem; */
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 300px;
}
.container-planta2d a {
  pointer-events: all;
}
#c-Cozinha {
  position: absolute;
  top: 95px;
  left: 355px;
}

#Cozinha {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-Sala {
  position: absolute;
  top: 115px;
  left: 255px;
}
#Sala {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}

#c-Varanda {
  position: absolute;
  top: -5px;
  left: 300px;
}
#Varanda {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}

#c-Corredor {
  position: absolute;
  top: 140px;
  left: 160px;
}
#Corredor {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-AreaServico {
  position: absolute;
  top: 25px;
  left: 425px;
}
#AreaServico {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-Quarto01 {
  position: absolute;
  top: 200px;
  left: 100px;
}
#Quarto01 {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-Quarto02 {
  position: absolute;
  top: 55px;
  left: 155px;
}
#Quarto02 {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-Suite {
  position: absolute;
  top: 25px;
  left: 60.84375px;
}
#Suite {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-WCSocial {
  position: absolute;
  top: 205px;
  left: 180px;
}
#WCSocial {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
#c-WCSuite {
  position: absolute;
  top: 151px;
  left: 16px;
}
#WCSuite {
  background-image: url("../point.png");
  width: 25px;
  height: 25px;
}
.container-ponto-minimapa .wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
  transform: rotate(-360deg);
}

.container-ponto-minimapa.selected .wrapper::before {
  content: "";
  background: #6262ff;
  width: 50px;
  height: 50px;
  position: relative;
  top: -25px;
  left: 0;
  transform: rotate(45deg);
}

.placemarker {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 400;
}
h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.6rem;
}
.pano-image {
  width: 100vw;
  height: 100vh;
}
nav {
  width: 100%;

  position: absolute;
  top: 56px;
  left: 16px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  border-bottom: 1px solid var(--cor-secundaria);
  margin-right: 16px;
  pointer-events: all;
}
nav ul li a {
  background-color: var(--cor-principal);
  color: #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
  transition: background 0.3s;
  text-transform: uppercase;
}
nav ul li a:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
}
.menu-nave {
  position: absolute;
  left: calc(50% - 70px);
  bottom: 0;
  transform: scale(0.7) translateY(310px);
  transition: all .3s;
}
.menu-nave.active {
  transform: scale(0.7) translateY(0);
  transition: all .3s;
  bottom: 5rem;

}
.visu {
  position: absolute;
  left: 40%;
  bottom: 12%;
}
.container-barra-altitude {
  width: 10px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  right: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.42);
}
.barra-altitude-up {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn_hover:hover {
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  filter: drop-shadow(2px 4px 6px white);
}
.barra-altitude-up .background {
  width: 100%;
  height: 0;
  background: #254185;
}
.barra-altitude-down {
  width: 100%;
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.barra-altitude-down .background {
  width: 100%;
  height: 0;
  background: #a81c22;
}
.btn_selected {
  filter: drop-shadow(2px 4px 6px white);
}
.fullScreen {
  position: absolute;
  bottom: 12px;
  right: 46px;
  width: 20px;
  height: 20px;
}
.joyDiv {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
#setasEsquerdas {
  position: absolute;
  bottom: 90px;
  right: 94%;
  width: 85px;
}
#setaUp {
  position: absolute;
  right: 80px;
  bottom: 93%;
}
#zoomMais {
  position: absolute;
  bottom: 93%;
  right: 94%;
}
#setaDown {
  position: absolute;
  right: 80px;
  top: 87%;
}
#setasDireita {
  position: absolute;
  bottom: 90px;
  left: 93%;
  width: 85px;
}
#zoomMenos {
  position: absolute;
  bottom: 93%;
  left: 94%;
}

#moreInfo {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 26px;
  right: 16px;
  transform: translateX(0);
  transition: all 0.3s;
  z-index: 999;
}
#moreInfo.active {
  transform: translateX(-335px);
  transition: all 0.3s;
}

#closeMap {
  position: absolute;
  bottom: 25%;
  left: 1%;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 350px !important; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: all 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  transform: translateX(350px);
}
.sidenav.active {
  transform: translateX(0);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.sidenav {
    right: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidenav {
    right: 0;
}
.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.wrapper-buttons-sidenav {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 800px) {
  #moreInfo {
    top: 26px;
    right: 8px;
  }

  #moreInfo input[type="image"] {
    width: 24px;
    height: 24px;
  }

  .menu-nave {
    /*right: 23%;*/
    /*bottom: 0;*/
  }

  #zoomMais,
  #zoomMenos {
    bottom: 0;
  }

  #planta2d {
    bottom: 280px;
  }
}

.jpgIcon,.dwgIcon, .PDFIcon {
  width: 30px;
  height: 30px;
}
